<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641296249206-2gr8afeu8c6oou93rqr0asa0cai72inb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641296249206-2gr8afeu8c6oou93rqr0asa0cai72inb</string>
	<key>API_KEY</key>
	<string>AIzaSyC8xO593OREenk2E83FS6TqvX4WI3zkDGM</string>
	<key>GCM_SENDER_ID</key>
	<string>641296249206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ricardo.Lousada.SocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>socialnetwork-6ffd5</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetwork-6ffd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641296249206:ios:36d7da9cfcb7a1e8</string>
	<key>DATABASE_URL</key>
	<string>https://socialnetwork-6ffd5.firebaseio.com</string>
</dict>
</plist>